---
import VariableManager from "../components/VariableManager";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>CSS Properties</h1>
	<VariableManager client:only="react" />
</BaseLayout>
