---

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Asset Variable Manager</title>
		<link rel="stylesheet" href="/src/css/global.css" />
	</head>

	<body>
		<main>
			<slot />
		</main>

		<div style="text-align: center; margin-top: 1rem; font-size: 11px; ">
			<a
				style="color:white; opacity: 65%;"
				href="https://www.flaticon.com/free-icons/copy"
				title="copy icons">Copy icons created by Freepik - Flaticon</a
			>
		</div>
	</body>
</html>
